<h1>Make your form here</h1>
<form method="POST" action="/pirates">
    <label for="pirate">Pirate Information</label>
    <p>Pirate Name:<p><input name='pirate[name]' type='text'>
    <p>Pirate Height:<p><input name='pirate[height]' type='text'>
    <p>Pirate Weight:<p><input name='pirate[weight]' type='text'>
    <label for="ship">Ship One Information</label>
    <p>Ship One Name:<p><input id='ship_name_1' name='pirate[ships][][name]' type='text'>
    <p>Ship One Type:<p><input id='ship_type_1' name='pirate[ships][][type]' type='text'>
    <p>Ship One Booty:<p><input id='ship_booty_1' name='pirate[ships][][booty]' type='text'>
    <label for="ship">Ship Two Information</label>
    <p>Ship Two Name:<p><input id='ship_name_2' name='pirate[ships][][name]' type='text'>
    <p>Ship Two Type:<p><input id='ship_type_2' name='pirate[ships][][type]' type='text'>
    <p>Ship Two Booty:<p><input id='ship_booty_2' name='pirate[ships][][booty]' type='text'>
    <input type='submit' value='Submit'>
    </form>
